# Ignore macOS .DS_Store files
.DS_Store

# Ignore environment configuration files
.env

# Ignore Docker Compose configuration file
docker-compose.yaml

# Ignore Visual Studio Code workspace settings
.vscode

# Ignore compiled object files, libraries, and executables
*.a
*.so
*.pyc
*.out
*.exe

# Ignore temporary files and backups
*~
.*.swp
*.orig
*.rej
.idea

# Ignore files generated during build and testing
_test
_testmain.go
_build
_version.cache
_build.out
_goinstall.log
_last-change
_test.out
_test/garbage/*.out
_test/pass.out
_test/run.out
_test/times.out

# Ignore compiled Go source files
*.cgo*.go
*.cgo*.c
_cgo_*
_obj
_bin
_doc/articles/wiki/*.bin
_misc/cgo/life/run.out
_misc/cgo/stdio/run.out
_misc/cgo/testso/main
_src/cmd/cgo/zdefaultcc.go
_src/cmd/dist/dist
_src/cmd/go/internal/cfg/zdefaultcc.go
_src/cmd/internal/objabi/zbootstrap.go
_src/go/build/zcgo.go
_src/go/doc/headscan
_src/internal/buildcfg/zbootstrap.go
_src/runtime/internal/sys/zversion.go
_src/unicode/maketables
_src/time/tzdata/zzipdata.go

# Ignore vendor directories and dependencies
/vendor/
vendor/
vendor
_godeps/

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test
*.tmp

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# IDE files
.vscode
.DS_Store
.idea

# Misc
*.fiber.gz
*.fasthttp.gz
*.pprof
*.workspace

# Dependencies
/vendor/
vendor/
vendor
/Godeps/
